* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
}
.home {
    height: 89vh;
    width: 100%;
    background-image: url('/assets/bgimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;

}